qa-*.png
*.tmp
gen_i18n.py
patch_i18n.py
scripts/__pycache__/
scripts/*.pyc
scripts/do_translate.partial.*.py
scripts/translate_all.partial.*.py
scripts/translate_data.partial.*.py
scripts/translate_et_lv_lt_ga_mt.partial.*.py
scripts/translations_part2.py
scripts/translate_runner.py
scripts/run_translate.py
scripts/run_translations.py
scripts/t2_data.json
scripts/*_translations.json
scripts/trans_*.py
scripts/do_translate.py
scripts/apply_translations.py
scripts/patch_translations.py
scripts/patch_html_tags.py
scripts/add_missing_translations.py
scripts/translate_source.json

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
